.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.flex>div{
  margin-right: 2%;
  margin-left: 2%;
  
}
.align{
    align-items:center;
    display: flex;
}
