<mat-toolbar>
 <span>Actores Populares</span>
 <span class="spacer"></span>
 <button mat-icon-button (click)="requestToken()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
</mat-toolbar>

<button mat-raised-button (click)="getPage(page - 1)">
  <mat-icon aria-hidden="false">navigate_before</mat-icon>
</button>
<button mat-raised-button>{{page}}</button>
<button mat-raised-button (click)="getPage(page + 1)">
  <mat-icon aria-hidden="false">navigate_next</mat-icon>
</button>

<div style="display:flex;">
<mat-card *ngFor="let actor of actorList">
  <img mat-card-lg-image [src]="getImageUrl(actor)" onerror="this.src='https://bitslog.files.wordpress.com/2013/01/unknown-person1.gif'" alt = "Actor"/>
  <mat-card-content>
    <h2>{{ actor.name }}</h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="getActorDetail(actor)">Detalles</button>
  </mat-card-actions>
</mat-card>
</div>
