<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          TheMovieDB APP
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Esta aplicación ha sido realizada sobre la plantilla Notus Angular
          y te permite consultar los actores populares del momento así como tus películas favoritas.

          Creada por Ignacio Moreno Gómez y Jorge Tenorio Rodríguez
        </p>


      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1517845732/1517845731.jpg"
    alt="..."
  />
</section>

<app-footer></app-footer>
